/* Arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #ff0000 !important; /* red chevrons */
    padding-left: 250px;
    padding-right: 250px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #2563eb; /* blue on hover */
}

.swiper-button-prev {
  left: -50px;
}

.swiper-button-next {
  right: -50px;
}

/* Dots */
.swiper-pagination-bullet {
  background: #d1d5db; /* gray-300 */
  opacity: 1; /* makes them solid */
}
.swiper-pagination-bullet-active {
  background: #ff0000 !important; /* red color for active dot */
}

@media (max-width: 767px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
